
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&family=Six+Caps&display=swap');
body{
    background-color: rgba(0, 0, 0, 0.883);
    font: 15px/20px sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 100px;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}
.cabecalho hr{
    position: absolute;
    top: 26vh;
}
.hr1{
    position: absolute;
    top: 0;
    left: 34vw;
    width: 32vw;
    height: 2px;
    background:transparent;
    border: none;
}
.hr2{
    position: absolute;
    top: 0;
    left: 34vw;
    width: 2vw;
    height: 2px;
    background: white;
    animation: slide 1.5s ease-in-out infinite;
    border: none;

}
@keyframes slide{
    0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(calc(34vw - 4vw));
      }
      100% {
        transform: translateX(0);
      }
}

.cabecalho h1{
    font-family: 'Genos', sans-serif;
    font-size: 60px;
    color: rgba(220, 214, 214, 0.861);
}
.up{
    margin-top: 150px;
}
.items{
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.item p{
    font-family: 'Genos', sans-serif;
    color: rgba(220, 214, 214, 0.861);
    height: 30px;
    font-size: 25px;
    margin-top: -160px;
}
.item a{
    text-decoration: none;
}
.item{
    display: block;
    position: absolute;
    background-color: beige;
    width: 250px;
    height: 200px;
    line-height: 1px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    opacity: 0.95;
    border-radius: 8px;
    border: 1PX solid rgb(138, 130, 130);
}
.item img{
    margin-top: 30px;
    height: 120px;
    width: 120px;
    text-decoration: none;
    border-radius: 10px;
}
.item.a{
    transform: rotateY(0deg) translateZ(250px);
    background: rgb(93, 89, 89);
}
.item.b{
    transform: rotateY(60deg) translateZ(250px);
    background: rgb(93, 89, 89);
}

.item.c{
    transform: rotateY(120deg) translateZ(250px);
    background: rgb(93, 89, 89);
}
.item.d{
    transform: rotateY(180deg) translateZ(250px);
    background: rgb(93, 89, 89);
}
.item.e{
    transform: rotateY(240deg) translateZ(250px);
    background: rgb(93, 89, 89);
}
.item.f{
    transform: rotateY(300deg) translateZ(250px);
    background: rgb(93, 89, 89);
}
.next, .prev{
    color: white;
    position: absolute;
    margin-top: -120px;
    background: transparent;
    cursor: pointer;
    font-size: 40px;   
}
.next{
    right: 7em;
}
.prev{
    left: 7em;
}
.bola{
    position: relative;
    cursor: pointer;
    background-color: rgb(167, 150, 150);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.bola:hover{
    animation: none;
    animation: linear infinite;
    animation-name: carregando;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}
@keyframes carregando {
    0% {
        width: 0%;
      }
    100% {
        width: 100%;
    }
  }
  .fa-arrow-left:hover{
    animation-direction: reverse;
  }